<form id='formUser'>
    <legend>Create User</legend>
    <hr/>
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" id="inputFirstName" name="firstname" class="form-control" placeholder="Enter First Name"/>
    </div>
    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" id="inputLastName" name="lastname" class="form-control" placeholder="Enter Last Name"/>
    </div>
    <div class="form-group">
        <label for="inputAge">Age</label>
        <input type="number" id="inputAge" name="age" class="form-control" placeholder="Enter Age"/>
    </div>
    <hr/>
    <button type="submit" class="btn btn-secondary">Create</button>

</form>